{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <article class="row">
        <div class="col-5"><img src="{{ tutor.picture }}" class="img-fluid" alt=""></div>
        <div class="col-7">

          <section class="teacher=info">
            <h1 class="h2">{{ tutor.name }}</h1>
            <p><span class="badge badge-secondary mr-2">{{ tutor.study }}</span>Рейтинг: 😍{{ tutor.rating }} Ставка: {{ tutor.price }} / час</p>
            <p>{{ tutor.about }}</p>
          </section>

          <section class="available">
            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

            {% for day in days_of_week %}
              <h6 class="mt-4">{{ day.rus_full_name }}</h6>
              {% if tutor.free[day.eng_short_name].values()|select|first %}
                {% for time, tutor_is_free in tutor.free[day.eng_short_name].items() %}
                  {% if tutor_is_free %}
                    <a href="{{ url_for('view_blp.render_booking', tutor_id=tutor.id, class_day_id=day.id, time=time) }}" class="btn btn-outline-success mr-2 my-2"
                    >{{ time }} свободно</a>
                  {% endif %}
                {% endfor %}
              {% else %}
                <p>Нет свободных уроков</p> 
              {% endif %}
            {% endfor %}
            
          </section>

        </div>
      </article>
    </div>
  </div>
</main> 
{% endblock content %}